.header {
  grid-area: header;
  background: $dark-secondary;
}
.contents {
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-between);
}
.header,
.footer {
  @extend .contents;
  padding: 0 16px;
}
