.sidenav__list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.sidenav__logo {
  padding: 20px 20px 20px 40px;
}

.sidenav__list-item-link {
  color: $dark-text;
  .sidenav__list-item {
    padding: 20px 20px 20px 40px;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      background-color: $dark-secondary;
      cursor: pointer;
      border-radius: 50px 0 0 50px;
      border-right: none;
    }
  }
}

/* Hamburger menu icon, stays fixed on mobile for any possible scrolling */
.menu-icon {
  position: fixed;
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
  background-color: #dadae3;
}

/* Make room for the menu icon on mobile */
.header__search {
  margin-left: 42px;
}

/* Mobile-first side nav styles */
.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  position: fixed;
  overflow-y: auto;
  z-index: 2; /* Needs to sit above the hamburger menu icon */
  transform: translateX(-245px);
  transition: all 0.2s ease-in-out;
}

/* The active class is toggled on hamburger and close icon clicks */
.sidenav.active {
  transform: translateX(0);
}

/* Only visible on mobile screens */
.sidenav__close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
}

/* Non-mobile styles for side nav responsiveness, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  .sidenav {
    position: relative; /* Fixed position on mobile */
    transform: translateX(0);
  }

  .sidenav__close-icon {
    visibility: hidden;
  }

  .sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
  }
}
