// Fonts
$sansSerif: "Open Sans";

// Font Sizing
$baseFontSize: 16px;
$baseLineHeight: 1.5;
$headingLineHeight: 1.2;

$dark-primary: #2e325a;
$dark-secondary: #252a4a;
$dark-tertiary: #1d213e;
$dark-text: #b9b9b9;

// Color pallette
$white: rgba(255, 255, 255, 1);
$light-blue: rgba(156, 204, 231, 1);
$yellow: rgba(253, 205, 73, 1);
$black: rgb(0, 0, 0);

$primary: #3c77fb;

$gray1: #f8f8f9;
$gray2: #ebecf0;
$gray3: #b9bcc6;
$gray4: #6d7587;
$dark-grey: rgba(41, 61, 59, 1);

$blue: rgba(87, 100, 144, 1);
$darkBlue1: #1f2840;
$darkBlue2: #131a2d;

$benchmark: $gray4;
$scenario1: $primary;
$scenario2: #fcaa67;

$colorBy1: #82a7a7;
$colorBy2: #ffbfb7;
$colorBy3: #a45e91;

$light-text: #b3b3b3;

$shadow: rgba(166, 171, 189, 0.5);

// border-radius

$border-radius-curved: 10px;

// Gradients
$background-gradient: linear-gradient(160deg, rgba(240, 241, 244, 1) 0%, rgba(227, 229, 234, 1) 100%);
$blue-gradient: linear-gradient(90deg, #6dc6fb 0%, #4b38ff 100%);

// Padding & Margin (REM) - see mixins/spacing
$spacing: [0, 0.25, 0.5, 1, 1.5, 3, 3.25, 3.5, 3.75, 4];
$spacingRules: [ [ml, margin-left], [mt, margin-top], [mb, margin-bottom], [mr, margin-right], [pl, padding-left], [pt,
  padding-top], [pb, padding-bottom], [pr, padding-right] ];

// Width & Height as percentage
$sizingRules: [ [w, width], [h, height], ];
$sizes: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100];

// Breakpoints
$screen-xs-min: 425px; // Tiny phones
$screen-sm-min: 576px; // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px; // Small tablets (portrait view)
$screen-lg-min: 992px; // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops
